#logo {
  width: 200px;
  height: 200px;
  background-image: url('../assets/holberton-logo.jpg');
  background-size: cover;
}

#startBtn {
  float: left; /* Move the button to the left */
}

#count {
  font-weight: bold; /* Make the counter text bold */
  float: right; /* Move the counter text to the right */
}
